@model BackupProject.Models.Discussion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Discussion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscussionContactInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscussionContactInfo.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DiscussionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
